<!-- Contact -->
<article id="contact">
  <h2 class="major">Contact</h2>
  <ul class="icons">
    <a class="button" target="_blank" href="resume.pdf" style="margin-right: 1em;"><i class="fas fa-file-pdf" style="margin-right: 1em;"></i> Resume</a>
    <li><a target="_blank" href="https://twitter.com/BryceDixonDev" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/brycedixon/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a target="_blank" href="https://github.com/BtheDestroyer" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    <li><a target="_blank" href="https://bthedestroyer.itch.io/" class="fab fa-itch-io"><!-- Itch.io --></a></li>
  </ul>
</article>
